.App-header {
    background-color: #282c34;   
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}

.main {
  margin-left: 10px solid white; 
  margin-right: 10px solid white; 
}

.app-intro{
  padding: 70px;
}

.title {
  font-size: 100px;  
}

.title-button {
  border: 5px solid white;
  font-size: 20px;
}

.footer {
  margin-top: 50px;
  margin-bottom: 50px;
}